*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
}

body{
    position: static;
}
/* The Navigation Bar of the website. The beginning */
.nav-bar{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    white-space: nowrap;
    z-index: 5;
}

.logo{
    display: flex;
    color: #f2f2f4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    gap: 1%;
}

.logo h3 em{
    color: #fdbf2d;
}

.logo i{
    color: #fdbf2d;
}

/* .nav-bar-text{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    gap: 5px;
    color: #f2f2f4;
}

.nav-bar-text i{
    color: #fdbf2d;
} */

.user-btn{
    margin-left: 10%;
    display: flex;
    float: right;
    gap: 40px;
    color: #f2f2f4;
}

.user-btn .search-bar{
    border-bottom: 2px solid #fff;
}

.search-bar:hover{
    color:#fdbf2d;
    border-bottom: 2px solid #fdbf2d;
}

.search-bar input{
    padding: 3%;
    background: none;
    border: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.login-btn button{
    border: 2px solid #fdbf2d;
    padding: 10px 40px;
    border-radius: 10px;
    background: #000;
    color: #fdbf2d;
    cursor: pointer;
}

.login-btn button:hover{
    background: #fdbf2d;
    color: #000;
}

/* The end of the the navigation bar */


/* The head block with Yellow food background */
.body-block{
    position: relative;
    display: flexbox;
    background-image: url("../Images/Untitled-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 140px 0px;
    z-index: 1;

}

.body-block::after{
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(to bottom,  transparent 60%, #000 100%);
    z-index: -1;
}

.body-block h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: 700;
    color:#fff;
    margin-left: 10%;
}

.body-block p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    margin-left: 10%;
}

.order-box{
    background-color: #fff4da;
    width: 50vw;
    padding: 20px;
    border-radius:15px;
    z-index: 5;
    margin-left: 10%;
}

.mode-btn{
    margin-bottom: 50px;
    margin-left: 20px;
    width: 100%;
}

.mode-btn button{
    padding: 5px 30px;
    border: 1px solid #fdbf2d;
    background: #fff4d9;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #2e2e2e;
    white-space: nowrap;
    width: 140px;
}

.mode-btn button:hover{
    background: #fdbf2d;
}

.mode-btn button:focus{
    background: #fdce60;
}

.input-field .fa-location-dot{
    color:rgb(250, 75, 75);
}

.input-field input{
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;
    width: 55%;
    border-radius: 10px;
    border:1px solid #fdbf2d
}

.input-field input:hover{
    transform: scale(1.05);
}
.input-field .menu-btn {
    float: right;
    padding: 10px 10px;
    border-radius: 10px;
    background: rgb(255, 32, 32);
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 500;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.input-field .menu-btn:hover{
    background: rgb(204, 16, 16);
    color:#f2f2f4
}
/* The end of the head block with yellow background */

.Food-panel{
    background: #000;
    padding-top: 30px;
    width:100%;
}

.food-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.food-grid div {
    border-radius: 10px;
    overflow: hidden;
    height: 50vh;
    width: 20vw;
    margin:10px auto;
}

.food-grid div:hover{
    transform: scale(1.05);
}

.footer{
    position: relative;
    background: #fdbf2d;
    width: 100%;
    padding-top: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flexbox;
    z-index: 1;
}

.footer::after{
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(to bottom, #000 0%, transparent 70%, #000 100%);
    z-index: -1;
}
.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.footer-text h2{
    font-size: 30px;
    margin-bottom:3%;
    color: #fff;
}

.footer-text h2 em{
    color: #fdbf2d;
}

.footer-text p{
    margin-bottom: 5%;
    color: #f2f2f4;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.footer-links .col{
    display: grid;
}

.col span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    color: #777777;
    margin-bottom:10%;
}

.col a{
    text-decoration: none;
    color: #222221;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
}

.copyright{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
    padding-bottom: 5%;
}

.socials a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.socials a{
    border-radius: 50%;
}

.socials a:hover{
    transform: scale(1.05);
}

@media (max-width:670px){
    body{
        overflow-x:hidden;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        max-width: 100%;
    }

    .logo{
        margin-bottom: 5%;
    }

    .user-btn{
        justify-content: center;
        width: 100vw;
        gap: 10px;
    }
    .login-btn{
        margin-left: 0px;
    }

    .body-block h1{
        margin: 0 5%;
    }

    .body-block p{
        margin: 0 5%;
    }
    .order-box{
        width: 80vw;
        margin: 5%;
    }
    
    .input-field input{
        width:55%;
    }
}