*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
}

body{
    position: static;
    background: #fdbf2d;
    width: 100%;
}

.food-grid div{
    animation: appear 1s linear both;
    animation-timeline: view();
    animation-range: entry 5% cover;
}

.manual h2,.manual p, #no-1, #no-2, #no-3 {
    animation: scroll-up 0.2s ease-in both;
    animation-timeline: view();
    animation-range: entry bottom cover;
}

@keyframes appear{
    from{
        opacity: 0.5;
        transform: translateY(50px);
        scale: 0.8;
    }
    to{
        opacity: 1;
        transform: translateY(0);
        scale:1;
    }

}

@keyframes scroll-up{
    from{
        opacity: 0.7;
        transform: translateY(-50px);
        scale: 0.9;
    }
    to{
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}
/* The Navigation Bar of the website. The beginning */
.nav-bar{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #705014;
    white-space: nowrap;
    z-index: 5;
    box-shadow: 0 8px 30px #705014d8;
}

.logo{
    display: flex;
    color: #f2f2f4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    gap: 1%;
}

.logo h3 span{
    color: #fdbf2d;
}

.logo i{
    color: #fdbf2d;
}


.user-btn{
    margin-left: 10%;
    display: flex;
    float: right;
    gap: 5vw;
    color: #f2f2f4;
}

.user-btn .search-bar{
    border-bottom: 2px solid #fff;
}

.search-bar:hover{
    color:#fdbf2d;
    border-bottom: 2px solid #fdbf2d;
}

.search-bar input{
    padding: 3%;
    background: none;
    border: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.login-btn button{
    border: 2px solid #fdbf2d;
    padding: 10px 40px;
    border-radius: 10px;
    background: #231608cb;
    color: #fdbf2d;
    cursor: pointer;
}

.login-btn button:hover{
    background: #fdbf2d;
    color: #000;
}

/* The end of the the navigation bar */


/* The head block with Yellow food background */
.body-block{
    position: relative;
    display: flexbox;
    background:#fdbf2d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    padding: 140px 0px;
    z-index: 1;
}

.hover-img #sharwama{
    position: absolute;
    right: 7vw;
    bottom: 35vh;
    border-radius: 50%;
    opacity: 0.6;
    animation: float 5s ease-in-out infinite;
    z-index: -1;
}

.hover-img #chicken{
    position: absolute;
    right: 260px;
    bottom: 15vh;
    border-radius: 50%;
    opacity: 0.6;
    animation: float 5.7s ease-in-out infinite;
    z-index: -1;
}

.hover-img #rice{
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    border-radius: 50%;
    opacity: 0.6;
    animation: float 6.4s ease-in-out infinite;
    z-index: -1;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-25px);
    }

    100%{
        transform: translateY(0px);
    }
}

.body-block::after{
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(to bottom,  transparent 60%, #705014 100%);
    z-index: -1;
}

.text-container{
    width: 90vw;
    margin: auto;
}

.body-block .text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color:#f2f2f4;
    margin-left: 7%;
    margin-bottom: 1vh;
}
.body-block .text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-left: 7%;
}

.body-block .text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 15vh;
    margin-left: 7%;
}
 .body-block .menu-btn{
    float: left;
    margin-left: 50vw ;
    background: #705014;
    color: #fdbf2d;
    border-radius: 10px;
    padding: 12px 40px;
    text-decoration: none;
    text-align: center;
    border:2px solid #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    box-shadow: 0px 0px 20px #121212;
 }

 .body-block .menu-btn:hover{
    background: #fdbf2d;
    color: #000;
    border: 2px solid #000;
 }


/* The end of the head block with yellow background */

.Food-panel{
    background: #705014;
    padding-top: 30px;
    width:100%;
}

.food-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
.food-grid div{
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    height: 45vh;
    width: 20vw;
    margin:10px auto;
    transition: ease-in-out 1.5s;
    box-shadow: 0px 0px 30px #121212;
}


.food-grid div:hover::before{
    content: "";
    position: absolute;
    top: 0; right: 0; left: 0; bottom:0;    
    background: radial-gradient(transparent 25%, #231608 100%);
    z-index: -1;
}
.food-grid .pic-1{
    background-image: url("../Images/sharwama.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-1:hover::after{
    content:"Sharwama";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}
.food-grid .pic-2{
    background-image: url("../Images/chicken.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-2:hover:after{
    content:"Chicken and Chips";
    position: absolute;
    top: 35vh; right: 1vw;
    text-align: center;
    color: #fdbf2d;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid .pic-3{
    background-image: url("../Images/juice1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-3:hover::after{
    content:"Fruit Juice";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid .pic-4{
    background-image: url("../Images/suya.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-4:hover::after{
    content:"Suya";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid .pic-5{
    background-image: url("../Images/jollof.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-5:hover::after{
    content:"Jollof Rice";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid .pic-6{
    background-image: url("../Images/rice-banga.jpeg");
    background-size: auto;
    background-position:top;
    background-repeat: no-repeat;
}

.food-grid .pic-6:hover::after{
    content:"Rice and Banga";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid .pic-7{
    background-image: url("../Images/fried-rice.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-7:hover::after{
    content:"Fried Rice";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid .pic-8{
    background-image: url("../Images/rice-and-stew.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-grid .pic-8:hover::after{
    content:"Rice and Stew";
    position: absolute;
    top: 35vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1vw;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 3px;
    border-radius: 5px;
}

.food-grid div:hover{
    transform: scale(1.05);
}

.manual{
    position: relative;
    background: #fdbf2d;
    padding:20px 50px;
    z-index: -1;
}

.manual::before{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(#705014 3%, transparent 50%, #231608 100%);
    z-index:-1;
}

.manual h2{
    margin-top:15vh;
    margin-bottom: 3vh;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.3em;
    font-weight:700;
    color: #f2f2f4;
}

.manual h2 span{
    color:#fdbf2d;
}
.manual .numbers{
    width: fit-content;
    padding: 4px 12px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50%;
    margin-bottom:20px;
    color: #f2f2f4;
    border:2px solid #fff;
    border-radius: 50%;
    background: #0000007e;

}
.manual .list-text{
    list-style:none;
    margin-bottom: 40px;
    background: #2b1a085e;
    padding: 20px;
    color: #f2f2f4;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.manual .list-text h3{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 5vh;
}

.manual .list-text h3 span{
    color:#fdbf2d;
}

.fa-money-check-dollar{
    color: green;
}

.manual .list-text p{
    font-size: 1.1em;
}
.footer{
    position: relative;
    background: #705014;
    width: 100%;
    padding-top: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flexbox;
    z-index: 1;
}

.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.footer-text h2{
    font-size: 30px;
    margin-bottom:3%;
    color: #f2f2f4;
}

.footer-text h2 span{
    color: #fdbf2d;
}

.footer-text p{
    margin-bottom: 5%;
    color: #f2f2f4;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

.footer-links .col{
    display: grid;
}

.col span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    color: #b6b6b6;
    margin-bottom:10%;
}

.col a{
    text-decoration: none;
    color: #222221;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    padding: 3px;
    width: fit-content;
}

.col a:hover{
    color: #f2f2f4;
}

.copyright{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #f2f2f4;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
    padding-bottom: 5%;
}

.socials a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.socials a{
    border-radius: 50%;
}

.socials a:hover{
    transform: scale(1.05);
}

@media (max-width:670px){
    body{
        overflow-x:hidden;
        width: 100vw;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        max-width: 100%;
    }

    .logo{
        margin-bottom: 5%;
    }

    .user-btn{
        margin: 0px;
        justify-content: space-evenly;
        width: 100vw;
        gap: 10px;
    }
    .login-btn{
        margin-left: 0px;
        margin-right: 0px;
    }

    .body-block h1{
        margin: 0 5%;
    }

    .body-block p{
        margin: 0 5%;
    }
    .order-box{
        width: 80vw;
        margin: 5%;
    }
    
    .input-field input{
        width:55%;
    }

    .food-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    }

    .food-grid .pic-1{
    background-image: url("../Images/sharwama.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 35vh;
    width: 30vw;
    margin:10px auto;
}

.food-grid .pic-1:hover::after{
    content:"Sharwama";
    position: absolute;
    top: 25vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.food-grid .pic-2{
    background-image: url("../Images/chicken.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 35vh;
    width: 30vw;
    margin:10px auto;
}

.food-grid .pic-2:hover::after{
    content:"Chicken & Chips";
    position: absolute;
    top: 25vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.food-grid .pic-3{
    background-image: url("../Images/juice1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 35vh;
    width: 30vw;
    margin:10px auto;
}

.food-grid .pic-3:hover::after{
    content:"Fruit Juice";
    position: absolute;
    top: 25vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.food-grid .pic-4{
    display: none;
}

.food-grid .pic-5{
    background-image: url("../Images/jollof.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 35vh;
    width: 30vw;
    margin:10px auto;
    position: relative;
}

.food-grid .pic-5:hover::after{
    content:"Jollof Rice";
    position: absolute;
    top: 25vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.food-grid .pic-6{
    display: none;
}

.food-grid .pic-7{
    background-image: url("../Images/fried-rice.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 35vh;
    width: 30vw;
    margin:10px auto;
}

.food-grid .pic-7:hover::after{
    content:"Fried Rice";
    position: absolute;
    top: 25vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.food-grid .pic-8{
    background-image: url("../Images/rice-and-stew.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 35vh;
    width: 30vw;
    margin:10px auto;
}

.food-grid .pic-8:hover::after{
    content:"Rice & Stew";
    position: absolute;
    top: 25vh; right: 2vw;
    text-align: center;
    color: #fdbf2d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
}


}