:root{
    --red:#990000;
    --dark-red:#6b0000;
    --placeholder:#550000;
    --cream:#FFb870;
    --background-tint:#FAFAF8;
    --shadow:#1a1a1a;
    --background-overlay:#2b2b2b;
    --light-shadow:#e5e5e5;
    --text-color:#1C1C1E;
    --green:#06D6A0;
    --font1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

*{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font1);
}
body{
    position: static;
    display: flex;
    margin: none;
    overflow-x: hidden;
}
.side-img{
    position: relative;
    background-color: var(--shadow, #1a1a1a);
    background-image: url("../Images/side-pane.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-blend-mode:overlay;
    flex: 0.5;
    position:sticky;
    top:0;
    width:30%;
    height: 100vh;
    color: #fff;
    z-index: -1;
}

.side-img::after{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: radial-gradient(transparent 50%, #221202 100%);
    z-index: -1;
}

.promo{
    background: var(--red);
    width: max-content;
    padding: 2dvh 4%; 
    border-radius: 10px;
    margin: auto;
    
}

.one{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    animation:float 3s ease-in-out infinite;
}

.two{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    animation:float 2s ease-in-out infinite;
}

.promo p{
    text-align: center;
    font-family: var(--font1);
}

@keyframes float{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
    
}

.main-block{
    float: right;
    flex: 1;
    width: 70%;
}
.nav-bar{
    background:var(--red, #900);
    display: flex;
    padding: 2vh 3vw;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 10px 10px #2b2b2baf;
}

.user-btn{
    display: flex;
    gap: 2vw;
    float: right;
}

.logo{
    color: var(--cream, #ffb870);
    font-family: var(--font1);
    font-size: 1.35rem;
    font-weight:700;
    float: left;
}
.logo span{
    font-weight: 700;
    color: var(--green, #55c00d);
}
.user-btn a{
    border: none;
    margin:1.1vh  ;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 1rem;
    border-radius: 10px;
    color: var(--cream, #ffb870);
    background: none;
    white-space: nowrap;
    transition: ease-in-out 0.2s;
}

.user-btn a:hover{
    color: var(--text-color, #f2f2f4);
}

.cart button{
    padding: 1vh 2vw;
    background: var(--red);
    border: 2px solid var(--cream);
    border-radius: 10px;
    color: var(--cream);
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px var(--shadow);
}

.cart button:hover{
    background: var(--cream);
    color: var(--red);
}

.opening-block{
    position: relative;
    background-color: var(--background-overlay);
    background-image: url("../Images/side-pane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:overlay;
    padding:10vh 7vw;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    width: 100%;
    
}

.opening-block h1{
    color: var(--red);
    font-family: var(--font1);
    font-weight: 700;
    font-size: 2.4rem;
    overflow: hidden;
    white-space:nowrap;
    width: 100%;
    animation: type 2s steps(46) forwards;
}
.opening-block h1 i{
    color:var(--green);
}

.opening-block p{
    color: var(--cream);
    font-family: var(--font1);
    font-weight: 700;
    font-size: 1.4rem;
    z-index: 2;
   
}

@keyframes type{
    from{width:0}
}

#backToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: var(--red, #900);
    color: #ffb870;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 900;
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px #1a1a1a;
    z-index: 49;
    transition: opacity .2s ease;
    /* transform: translateY(-30px); */
}

#backToTop:hover{
    background: var(--dark-red, #6b0000);
}

.category {
    position: sticky;
    top: 0;
    background:var(--cream);
    display: flex;
    padding: 1.5vh 1vw;
    align-items: center;
    justify-content: space-evenly;
    gap:1vw;
    width: 100%;
    z-index: 5;
    overflow-x: auto;
    box-shadow: 0 5px 10px #1a1a1a;
}

.category::-webkit-scrollbar{
    display: none;
}

.category a{
    text-decoration: none;
    padding:1vh 1vw;
    margin: 0 1vw;
    background: var(--red);
    font-family:var(--font1);
    font-weight: 500;
    font-size:1.1rem;
    color: var(--cream);
    border: 2px solid var(--cream);
    border-radius:5px;
    white-space: nowrap;
    box-shadow: 0 0 5px;
    transition: ease-in-out 0.5s;
}

.category a:hover{
    background: var(--cream);
    box-shadow: 0 0 20px var(--shadow);
    color: var(--red);
}
.category a:focus-within{
    background: var(--cream);
    box-shadow: 0 0 20px var(--shadow);
    color: var(--red);
    transform: translateY(-5px);
}

.menu-list.selected{
    color:var(--red);
    background: var(--cream);
    transform:translateY(-5px);
    box-shadow: 0 0 20px var(--shadow);
}
.container{
    background: var(--background);
    font-family: var(--font1);
    padding: 0.1vh 2vw;

}

@keyframes scroll-up{
    from{
        opacity: 0.2;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}  

.food-card {
    animation: scroll-up 0.2s linear both;
    animation-timeline: view();
    animation-range: entry 3% cover 20%;
}

.food-card{
    background: var(--red, #990000);
    padding: 5vh 6vw;
    margin: 12vh auto;
    border-radius:15px;
    box-shadow: 0 0 20px #1a1a1a;
    overflow: hidden;
    scroll-margin-top: 130px;
}

.header{
    color: var(--cream);
    font-size: 2rem;
    text-transform: uppercase;
}

.write-up{
    color: #fff8f0;
    text-indent: 5ch;
    margin-bottom: 3vh;
}

.food-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
    
}

.food-img img{
    width: 100%;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 20px #1a1a1a;
}

.food-img img:hover{
    transform: scale(1.03);
}

.types{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.sizes{
    padding: 1.5vh 2.5vw;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background: var(--cream, #ffb870);
    font-size: 1rem;
    font-weight: 550;
    color: var(--red, #990000);
    box-shadow: 0 0 5px #1a1a1a;
    transition: ease-in-out 0.5s;
}

.sizes:hover{
    transform: scale(1.02);
    background: var(--red, #990000);
    color: var(--cream);
}

.sizes.active, .prices.selected{
    background: var(--green, #990000);
    color: var(--text-color, #ffb870);
    transform: translateY(-10px);
}

.bottom-row{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.prices{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}
.price-btn{
    padding: 0.5vh 3vw;
    border: none;
    border-radius:25px;
    font-size: 1.1rem;
    color: var(--red, #990000);
    background: var(--cream, #ffb870);
    box-shadow: 0 0 10px #1a1a1a;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.prices button.price-btn:hover{
    color: var(--cream, #ffb870);
    background: var(--red, #990000);
    transform: scale(1.1);
}
.customise-cart{
    display: flex;
    gap: 3vw;
    align-items: center;
}

.customize{
    padding: 0.5vh;
    border: none;
    border-radius:50%;
    font-size: 1.1rem;
    font-weight:200;
    color: var(--red, #990000);
    background: var(--cream, #ffb870);
    box-shadow: 0 0 10px #1a1a1a;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.customize:hover{
    color: var(--cream, #ffb870);
    background: var(--red, #990000);
}

.add-to-cart{
    padding: 1.5vh 2vw;
    white-space: nowrap;
    border: none;
    border-radius:25px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--red, #990000);
    background: var(--cream, #ffb870);
    box-shadow: 0 0 10px #1a1a1a;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.add-to-cart:hover{
    color: var(--cream, #ffb870);
    background: var(--red, #990000);
}

#sharwama .header{
    background-image: url("../Images/sharwama.jpg");
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#chicken .header{
    background-image: url("../Images/chicken2.jpeg");
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#pizza .header{
    background-image: url("../Images/pizza.jpg");
    background-size: cover;
    background-position: right;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#drinks .header{
     background-image: url("../Images/juice2.jpeg");
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#rice .header{
    background-image: url("../Images/fried-rice.jpeg");
    background-size: cover;
    background-position: right;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#swallow .header{
    background-image: url("../Images/swallow.jpeg");
    background-size: cover;
    background-position: right;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.cart-btn{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 350px;
    width: 40vw;
    background: var(--background-overlay, #1a1a1a);
    background-image: url("../Images/IMG-20260701-WA1473.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 101;
}

.cart-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: var(--red, #990000);
    font-family: var(--font1, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif);
    
}

.cart-btn h2{
    color: var(--cream, #ffb870);
    margin-left: 2vw;
}

.cart-btn h2 span{
    color: var(--green);
}
#closecart{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cream, #ffb870);
    background: none;
    border: none;
    cursor:pointer;
    text-shadow: 0 0 5px var(--shadow);
    transition: ease-in-out .3s;
}

#closecart:hover{
    transform: scale(1.2);
}

.cart-additions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    overflow-y: auto;
}

.method{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--red);
    padding: 25px;

}

.method-types{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 1.1em;
}

.method-types button{
    width: 110px;
    padding: 1vw 0;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 10px -3px var(--shadow);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--cream);
    color: var(--red);
}

.method-types button:hover{
    background-color: var(--btn-hover-cream);
    color: var(--btn-hover-red);
}
.current{
    background-color: var(--dark-red);
    color: var(--cream);
}
.delivery form{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry{
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.entry input{
    min-width: 300px;
    width: 36.5vw;
    padding-left: 30px;
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

.entry .fa-address-book{
    position: absolute;
    top: 6px;
    left:0;
    font-size: 1.5rem;
    color: var(--green);
    
}

.delivery form button{
    width: 50%;
    padding: 1vh 0;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 8px -3px var(--shadow);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1em;
}

.method .reservation{
    display: none;

}

.reservation p{
    color: var(--cream);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.95em;
    text-align: center;
}

.reservation form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 1em;
}

.reservation form input{
    padding: 1vw;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--cream);
    background-color: var(--red);
    box-shadow: 0 5px 10px -3px var(--shadow);
    border: none;
}

.reservation form button{
    position: relative;
    padding: 1.5vh 1vw;
    border: 2px solid var(--green);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 5px 10px -3px var(--green);
    background-color: #fff;
    color: var(--shadow);
    z-index: 1;
}

.reservation form button::after{
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(113, 255, 113, 0.671);
    z-index: -1;
}
.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 340px;
  background: var(--cream);
  padding: 0;
  box-shadow: -6px 0 20px rgba(0,0,0,.25);
  transform: translateX(100%);   /* hidden, pushed off-screen to the right */
  transition: transform 0.3s ease;
  z-index: 100;
}

.panel-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red, #990000);
    padding: 2vw;
}
.panel-head div span{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.panel-head h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    color: var(--cream, #ffb870);
    text-transform: uppercase;
}

.side-panel #order-custom{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #d3d3d3;
    background: var(--red, #990000);
    border-bottom: 2px solid var(--red, #990000);
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}

#closePanel{
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background: none;
    color: var(--cream);
    cursor: pointer;
    transition: 0.4s;
}

#closePanel:hover{
    transform: scale(1.1);
    text-shadow: 0 0 5px #1a1a1a;
}

#panelAdditions{
    margin:3vh 2vw;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    padding-bottom: 0;
    color: var(--red-dark, #990000);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    border-bottom: 2px solid;
}

#panelImg{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow:0 0 8px ;
}

.add-item{
    display: flex;
    align-items: center;
    padding: 1vw;
    justify-content: space-between;
}
.add-item label{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--red, #990000);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-item input[type="checkbox"]{
    accent-color: var(--red, #990000);
    width: 15px;
    height: 15px;
}
.add-item span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--green, #398a03);
}

.base{
    background: var(--red, #990000);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2vh 1vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.base div .panel-total{
    margin:2vh 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--cream, #ffb870);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.base div .panel-total span{
    color: var(--green, #55c00d);
}
.base div .confirm-btn{
    padding: 1vh 90px;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background: var(--cream, #ffb870);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #1a1a1a;
    color:var(--red, #990000);
    margin: 0 auto;
    transition: ease-in-out 0.2s;
}

.base div .confirm-btn:hover{
    background: var(--red, #990000);
    color: var(--cream, #ffb870);
}

.side-panel.open {
  transform: translateX(0);       /* slides into view */
}

#cart-btn.open{
    transform: translateY(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 90;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.footer{
    position: relative;
    background-color: #1a1a1a;
    background-image:url("../Images/footer-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:overlay;
    width: 100%;
    padding-top: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flexbox;
    z-index: 1;
}



.footer-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.footer-text h2{
    font-size: 2rem;
    margin-bottom:3%;
    color: #990000;
}

.footer-text h2 span{
    color: #55c00d;
}

.footer-text p{
    margin-bottom: 10vh;
    text-indent: 5vw;
    font-size: 1.1rem;
    color: #ababab;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.footer-links .col{
    display: grid;
}

.col span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    color: #fff8f0;
    margin-bottom:10%;
}

.col a{
    text-decoration: none;
    color: #b0b0b0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
    padding: 3px;
    width: fit-content;
}

.col a:hover{
    color: #f2f2f4;
    text-decoration: underline;
}

.copyright{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #f2f2f4;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
    padding-bottom: 1vh;
}

.socials a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.socials a{
    border-radius: 50%;
}

.socials a:hover{
    transform: scale(1.05);
}

@media (max-width:900px){
    .side-img{
        display:none;

    }

    .main-block{
        flex: 1;
    }
}

@media (max-width:400px){
    .category{
        overflow-x: auto;
    }
}